.contact-page {
    header {
        height: 70vh;
        background-image: url(./assets/contact-header-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        .header-container {
            height: 100%;
        }
        
        h1 {
            color: $yellow-style;
            font-size: 8.0rem;
            line-height: 92px;
            font-weight: 700;
            margin: 0;
        }

        .top-bar {
            background: black;
        }

        nav {
            display: flex;
            align-content: flex-start;
            align-items: center;
            
            ul {
                display: flex;
                justify-content: space-between;

                li {
                    margin: 0 20px;

                    a {
                        padding: 10px;
                    }
                }
            }
        }
        
        span {
            color: $yellow-style;
        }

        .title {
            height: 100%;
            display: flex;
            align-items: center;
        }
    
    }

    main {
        background: $background-color;

        .main-container {
            display: flex;
            justify-content: space-between;
            position: relative;

            aside {
                width: 30%;
                padding: 30px;
                display: flex;
                flex-direction: column;

                .socials {

                    ul {
                        padding-left: 0;
                        display: flex;
                        justify-content: space-between;
                        font-size: 3.0rem;

                        a {
                            color: $green-style;
                        }

                        a:hover {
                            font-size: 3.5rem;
                        }
                    }
                }

                .address {
                    h2 {
                        font-size: 3.2rem;
                        letter-spacing: 1px;
                        font-weight: 700;
                    }
                }
            }

            .form {
                width: 60%;
                
                form {
                    width: 700px;
                    height: 400px;
                    margin-top: -300px;
                    bottom: 30%;
                   
                    
                }

                .my-form {
                    background: white;
                    padding: 20px 40px;
                    -webkit-box-shadow: -20px 20px 0px -1px rgba(248,231,28,1);
                    -moz-box-shadow: -20px 20px 0px -1px rgba(248,231,28,1);
                    box-shadow: -20px 20px 0px -1px rgba(248,231,28,1);

                    padding-bottom: 550px;
                    
                    input,
                    textarea {
                        font-family: $heading-font;
                        font-size: 2.0rem;
                        line-height: 32px;
                        font-weight: li;
                        color: $main-text-color;
                    }
                }

                .form-container {
                    display: flex;
                    justify-content: space-between;

                    input {
                        width: 35vh;
                        margin-bottom: 20px;
                        padding: 15px;
                        border: none;
                        border-bottom: 1px solid $green-style;
                    }
                }

                .submit-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    

                    textarea {
                        padding: 15px;
                        border: 1px solid $green-style;
                        margin-bottom: 30px;
                    }

                    button {
                        color: white;
                        background-color: $green-style;
                        padding: 10px 15px;
                        text-align: center;
                        font-weight: 700;
                        font-size: 2.0rem;
                        font-family: $heading-font;
                    }

                    button:hover {
                        background-color: $secondary-text-color;
                    }
                }
            }
            
        } 
    }
}