// font-style
$heading-font: 'Josefin Sans', sans-serif;
$body-font: 'Roboto', sans-serif;

// colors
$main-text-color: #2C2C2C;
$secondary-text-color: #074115;
$background-color: #F0EFED;
$yellow-style: #F8E71C;
$green-style: #0E902D;