@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  margin: 0;
}

.logo,
nav {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 2.0rem;
}

.logo {
  font-size: 4.0rem;
  color: white;
}

body p,
.juno,
.copyright {
  font-family: "Roboto", sans-serif;
  color: #2C2C2C;
  line-height: 32px;
  font-size: 2.0rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

button a {
  color: white;
  background-color: #0E902D;
  padding: 10px 15px;
  text-align: center;
  font-weight: 700;
  font-size: 2.0rem;
  font-family: "Josefin Sans", sans-serif;
}

a:hover {
  color: #F8E71C;
}

footer {
  background-color: #2C2C2C;
  padding: 5px 0;
}

.copyright,
.juno {
  color: white;
  text-align: center;
  line-height: 1;
}

.juno {
  font-size: 1.5rem;
}

.juno a {
  text-decoration: underline;
}

.home header {
  height: 90vh;
  background-image: url(./assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.home header .header-container {
  height: 100%;
}

.home header h1 {
  color: white;
  font-size: 16.6rem;
  line-height: 92px;
  font-weight: 400;
  z-index: 1;
  width: 60%;
}

.home header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home header nav ul li {
  margin: 0 20px;
}

.home header nav ul li a {
  padding: 10px;
}

.home header span {
  color: #F8E71C;
}

.home header .title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home header img {
  height: 40vw;
  position: absolute;
  right: 0;
  top: 20%;
}

.home main .about {
  height: 100%;
  background: #F0EFED;
  padding-top: 150px;
  padding-bottom: 150px;
}

.home main .about-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home main .about-container h2 {
  font-size: 5.63rem;
  letter-spacing: 1.3px;
  margin: 0;
}

.home main .about-container p {
  width: 90%;
  padding-bottom: 20px;
}

.home main h3 {
  font-size: 3.2rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.home main .posts {
  min-width: 360px;
  position: relative;
}

.home main .workshop-container,
.home main .discover-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  min-width: 360px;
}

.home main .content-right,
.home main .content-left {
  width: 50%;
  border: 2px solid red;
}

.home main .content-left {
  text-align: right;
}

.home main .image-left {
  width: 50%;
  border: 2px solid blue;
}

.home main .image-left img {
  height: 25vw;
  -webkit-box-shadow: 20px 20px 0px -1px #f8e71c;
  box-shadow: 20px 20px 0px -1px #f8e71c;
}

.home main .image-right {
  width: 50%;
  border: 2px solid blue;
}

.home main .image-right img {
  height: 25vw;
  -webkit-box-shadow: -20px 20px 0px -1px #f8e71c;
  box-shadow: -20px 20px 0px -1px #f8e71c;
}

.home main .menu {
  height: 100%;
  height: 100%;
  background: #F0EFED;
  padding-top: 150px;
  padding-bottom: 150px;
}

.home main .menu .menu-top,
.home main .menu .menu-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home main .menu .menu-top .icon-container,
.home main .menu .menu-bottom .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home main .menu .menu-top .icon-container .icon-heading,
.home main .menu .menu-bottom .icon-container .icon-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home main .menu .menu-top .icon-container .icon-heading i,
.home main .menu .menu-bottom .icon-container .icon-heading i {
  font-size: 2.0rem;
  padding: 10px;
  color: #2C2C2C;
  background: #F8E71C;
  border-radius: 50%;
}

.home main .banner {
  height: 300px;
}

.home main .banner img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.home main .founder {
  background: #F0EFED;
  padding-top: 100px;
  padding-bottom: 100px;
}

.home main .founder .founder-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home main .founder .founder-container .founder-image img {
  -webkit-box-shadow: 20px 20px 0px -1px #f8e71c;
  box-shadow: 20px 20px 0px -1px #f8e71c;
}

.home main .founder .founder-container .founder-content {
  width: 60%;
  margin-left: 20px;
}

.home main .founder .founder-container .founder-content h2 {
  font-size: 4.2rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.home main .gallery {
  padding: 100px 0;
}

.home main .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home main .gallery-container img {
  margin-right: 20px;
}

.home main .gallery-container :last-child {
  margin-right: 0;
}

.blog header {
  height: 70vh;
  background-image: url(./assets/blog-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.blog header .header-container {
  height: 100%;
}

.blog header h1 {
  color: #F8E71C;
  font-size: 16.6rem;
  line-height: 92px;
  font-weight: 400;
  margin: 0;
}

.blog header .top-bar {
  background: black;
}

.blog header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog header nav ul li {
  margin: 0 20px;
}

.blog header nav ul li a {
  padding: 10px;
}

.blog header span {
  color: #F8E71C;
}

.blog header .title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog header .side-image img {
  -webkit-box-shadow: -20px 20px 0px -1px #f8e71c;
  box-shadow: -20px 20px 0px -1px #f8e71c;
  width: 120%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog main {
  padding-top: 120px;
  background: #F0EFED;
}

.blog main h2 {
  font-size: 4.3rem;
  letter-spacing: 1.3px;
  font-weight: 700;
}

.blog main h3 {
  font-size: 2.0rem;
  line-height: 32px;
  font-weight: 700;
}

.blog main .main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog main .main-page aside {
  width: 30%;
  height: 100%;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blog main .main-page aside .aside-content {
  width: 90%;
  background-color: white;
  padding: 15px;
}

.blog main .main-page aside .aside-content a {
  color: #074115;
  font-weight: 700;
}

.blog main .main-page aside .aside-content ul {
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 32px;
}

.blog main .main-page aside .aside-content ul li::before {
  content: "•";
  color: #0E902D;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.blog main .side-container {
  width: 60%;
}

.blog main .side-container .side-content {
  border-left: 5px solid #F8E71C;
  border-bottom: 5px solid #F8E71C;
  padding-left: 40px;
}

.blog main .side-container .subtitle {
  font-style: italic;
  color: #074115;
  margin: 0;
}

.blog main .side-container .side-content {
  padding-top: 50px;
}

.blog main .side-container .comment-container-one,
.blog main .side-container .comment-container-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

.blog main .side-container .comment-container-one .comment-image-one,
.blog main .side-container .comment-container-one .comment-image-two,
.blog main .side-container .comment-container-two .comment-image-one,
.blog main .side-container .comment-container-two .comment-image-two {
  height: 100%;
  margin-right: 20px;
}

.blog main .side-container .comments {
  padding-top: 25px;
}

.blog main .my-form input,
.blog main .my-form textarea {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.0rem;
  line-height: 32px;
  font-weight: lighter;
  color: #2C2C2C;
}

.blog main .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog main .form-container input {
  width: 35vh;
  margin-bottom: 20px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #0E902D;
  background-color: #F0EFED;
}

.blog main .submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.blog main .submit-container textarea {
  padding: 15px;
  border: 1px solid #0E902D;
  background-color: #F0EFED;
  margin-bottom: 30px;
}

.blog main .submit-container button {
  color: white;
  background-color: #0E902D;
  padding: 10px 15px;
  text-align: center;
  font-weight: 700;
  font-size: 2.0rem;
  font-family: "Josefin Sans", sans-serif;
}
